body {
    font-family: Arial, sans-serif;
    background: #ffe5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#signup-form, 
#sign-in-form {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
    border-top: 4px solid red;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-right: 150px;
    color: red;
}

label {
    font-weight: bold;
    color: #b30000;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid red;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #cc0000;
}

p {
    text-align: center;
    margin-top: 15px;
    color: #800000;
}

a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
